body {
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	color: #E6D4BA;
	background-color: #442C25;
	margin: 0px;
	padding: 0px;
}

a:link {
	text-decoration: none;
 	color: #E6D4BA;
}

a:visited {
	text-decoration: none;
	color: #E6D4BA;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

.current {
	font-weight: bold;
	background-color: #883928;
}

.cthumb {
	background-color: #e5cdad;
	border: 0px;
}

.thumb {
	background-color: #c5a881;
	border: 0px;
}

.image { border: 1px solid #aaaaaa;}
a:link .image {  border-color: #aaaaaa;}
a:visited .image {  border-color: #aaaaaa;}
a:hover .image { border-color: #ffffff;}

.mthumb { border: 1px solid #aaaaaa;}
a:link .mthumb {  border-color: #aaaaaa;}
a:visited .mthumb {  border-color: #aaaaaa;}
a:hover .mthumb { border-color: #ffffff;}

.slideImage { border-width: 8px; border: 8px solid; border-color: #ffffff;}
a:link .slideImage { border-color: #ffffff;}
a:visited .slideImage { border-color: #ffffff;}

.title {
	font-size: 120%;
	font-weight: bold;
	color: #884444;
}

.title a:link {
	text-decoration: none;
	color: #884444;
}

.title a:visited {
	text-decoration: none;
	color: #884444;
}

.title a:hover {
	text-decoration: none;
	color: #cc4444;
}

.infotable {
	border: 1px solid #7E5223;
	border-collapse: collapse;
}

.infotable td {
	border: 1px solid #7E5223;
}

.infotable table {
	border-collapse: separate;
}

.infotable table td {
	border: 0px;
}

.dirname {
	font-size: 100%;
	font-weight: bold;
	color: #aaaaaa;
}

.comment {
	color: #E6D4BA;
	font-weight: bold;
	font-size: 100%;
}

.smalltxt {
	color: #E6D4BA;
	font-size: 90%;
}

.xsmalltxt {
	color: #E6D4BA;
	font-size: 80%;
}

.newlabel {
	font-size: 70%;
	font-weight: bold;
	color: #eeeeee;
	background-color: #CC4400;
}